
.container{
    width: 500px;
    height: 500px;
    margin-right: 500px;
    display:flex;
    flex-wrap: wrap;
}
.card{
    background-color: rgb(191, 255, 1);
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.objetivo{
    background-color: rgb(255, 255, 255);
}

.j1{
    background-color: rgb(255, 0, 0);
}

.j2{
    background-color: rgb(255, 0, 204);
}
body{
    display: flex;
    justify-content:flex-end;
    margin-right:55px; 
    margin-top: 55px;
    background-color: coral;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}


